{% extends "personal/header.html" %}
{% block title %}Contact - {{ block.super }}{% endblock %}

{% block content %}
<p>If you would like to get in touch with us please fill out the form below or you can just send us an email at
  <a href="mailto:perlcurling123@gmail.com?Subject=Hello%20again" target="_top">perlcurling123@gmail.com</a>
<h1>Contact</h1>
<form  role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="buton" type="submit">Submit</button>
</form>
{% endblock %}
