{% extends "personal/header.html" %}

{% block content %}

<h2>Welcome to Kangaroo Learning! </h2>
<div>
  <p>Kangaroo Learning is a small company focused on education, open source tech writing, and independent software research.
<p>Kangaroo Learning primarily offers <b style='color:  #2181dc  '>Introductory &  Intermediate level Python Programming</b>, and <b style='color:  #2181dc  ' >Introductory Network Engineering
</b>courses to individuals.</p>
<p>Tired of working through an online tutorial, or read books online? If yes
come to Bratislava for an in-person learning experience that will expand your mind and skills.
Taught in a round-table format with just 6-10 students, these courses take a deep dive into a topic with a mix of lecture,
 hands on exercises, projects, and group discussion. Plus, you'll experience the beauty of Bratislava's distinctive 'staremesto'
or the english equivalent 'old town' ,  with a cup of coffee. You won't be disappointed.</p>
{% include "personal/includes/htmlsnippet.html" %}
{% endblock %}
